/* Universal selector */
* {
    border: 0px;
    margin: 0px;
}

/* body font and size */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1;
  }

/* Make header classes bolder */  
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

/* Apply background gradient to header section*/
.weather-dashboard {
    background: linear-gradient(to right,#3463bc,#20094b);
}

/* 5-day forecast card, a little lighter than the example to show raindrops */
.card {
    background-color: #587493;
    color: white;
}

/* Make forecast card equal width within its container */
.col-card {
    width: 18%;
    margin: 5px;
}

/* When page is too small, make cards width 100% */
@media (max-width: 768px) {
    .col-card { width: 45%;}
}